<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.findx.findx">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginhirer"
            android:label="@string/title_activity_loginhirer"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.findx.findx.StartActivity" />
        </activity>
        <activity
            android:name=".loginworker"
            android:label="@string/title_activity_loginworker"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.findx.findx.StartActivity" />
        </activity>
        <activity
            android:name=".signupworker"
            android:label="@string/title_activity_signup"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.findx.findx.StartActivity" />
        </activity>
        <activity
            android:name=".signuphirer"
            android:label="@string/title_activity_signuphirer"
            android:parentActivityName=".StartActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.findx.findx.StartActivity" />
        </activity>
        <activity
            android:name=".profileworker"
            android:label="@string/title_activity_profileworker"
            android:parentActivityName=".loginworker"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.findx.findx.loginworker" />
        </activity>
        <activity
            android:name=".profilehirer"
            android:label="@string/title_activity_profilehirer"
            android:parentActivityName=".loginhirer"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.findx.findx.loginhirer" />
        </activity>
    </application>

</manifest>
